@import "../../assets/variables";

.RecipeId {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 95%;

  @media screen and (min-width: 600px) {
    align-items: flex-start;
    width: 100%;
    flex-direction: row;
    gap: 5rem;
  }

  .card {
    //upcoming change to card
    @media screen and (min-width: 600px) {
      display: grid;
      align-items: center;
      grid-template-rows: 1fr 2fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "pic titl" "pic diff";
      width: 31.25rem;
      gap: 0;

      img {
        grid-area: pic;
        border-bottom: none;
        border-right: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: $border-radius 0 0 $border-radius;
        height: 100%;
        width: calc(31.25rem / 2);
      }

      h2 {
        grid-area: titl;
      }

      p {
        grid-area: diff;
        flex-direction: column;

        img {
          border-radius: 0;
          border-right: none;
          height: $basic-space * 2;
          width: auto;
        }

        span:first-of-type {
          border-right: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        }
      }
    }
  }

  .Ingredients {
    span {
      &:nth-of-type(2n + 2) {
        background-color: $background-color;
      }

      &:last-of-type {
        border-radius: 0 0 $border-radius $border-radius;
      }
    }
  }

  div {
    h3 {
      margin-bottom: $basic-space;
    }

    p:not(:has(img)) {
      display: flex;
      flex-direction: column;
      background-color: $primary-color;
      border-radius: $border-radius;
      box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.5);
      width: 90vw;

      @media screen and (min-width: 540px) {
        width: 31.25rem;
      }

      .checked {
        text-decoration: line-through;
      }

      span {
        padding: $half-space 0 $half-space $basic-space * 1.5;
      }
    }
  }
}
