@import "../../assets/variables";

.RecipeId {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 95%;

  @media screen and (min-width: 540px) {
    width: 100%;
    gap: 3rem 5rem;
  }

  @media screen and (min-width: 1200px) {
    display: grid;
    grid-template-areas: "c p" "i p" "b p";
    align-items: flex-start;
    justify-items: center;
  }

  .card {
    width: 95%;
    @media screen and (min-width: 540px) {
      grid-area: c;
      width: 31.25rem;
    }
  }

  .Ingredients {
    grid-area: i;
    span {
      &:nth-of-type(2n + 2) {
        background-color: $background-color;
      }

      &:last-of-type {
        border-radius: 0 0 $border-radius $border-radius;
      }
    }
  }

  .Preparation {
    grid-area: p;
    p {
      padding: $half-space 0;
    }
  }

  button {
    grid-area: b;
  }

  div {
    h3 {
      margin-bottom: $basic-space;
    }

    p:not(:has(img)) {
      display: flex;
      flex-direction: column;
      background-color: $primary-color;
      border-radius: $border-radius;
      box-shadow: $box-shadow;
      width: 90vw;
      font-size: $text-size;

      @media screen and (min-width: 540px) {
        width: 31.25rem;
      }

      .checked {
        text-decoration: line-through;
      }

      span {
        padding: $half-space 0 $half-space $basic-space * 1.5;
      }
    }
  }
}
