@import "../../assets/variables";

.CookiesPopUp {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  bottom: 8%;
  flex-wrap: wrap;
  z-index: 1000;
  padding: $basic-space;
  gap: $basic-space;
  background-color: $primary-color;
  transition: opacity 0.75s ease;
  border-radius: $basic-space;
  box-shadow: $box-shadow;
  border: $border-transparent;
  max-width: 15rem;
  margin: 0;

  @media screen and (min-width: 820px) {
    left: 5%;
  }

  img {
    position: absolute;
    top: 0;
    transform: translateY(-60%);
    filter: drop-shadow(0 0 0.4rem rgba(0, 0, 0, 1));
  }

  p {
    text-align: center;
  }

  p,
  button {
    font-size: calc($font-size / 1.25);
  }

  button {
    font-family: $font-main;
    color: $background-color;
    background-color: $secondary-color;
    border: none;
    border-radius: $border-radius;
    border: 2px solid $background-color;
    padding: $half-space $basic-space * 2;
    cursor: pointer;
    transition: opacity 0.75s ease;

    &:hover {
      background-color: $background-color;
      color: $secondary-color;
      border: 2px solid $secondary-color;
    }

    &:active {
      transition: 0.25s ease;
      transform: scale(0.9);
    }
  }
}
