@import "../../assets/variables";

.Landing {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 1000;
  overflow-y: hidden;
  /*to improve later if possible: this margin -91px*/
  margin-top: -91px;

  .WitchLottie {
    position: absolute;
    margin: auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100vh;
    width: 100vw;
    z-index: -1;
  }

  button {
    font-family: $font-main;
    font-size: $title-size;
    color: $font-color;
    background-color: $secondary-color;
    border: none;
    border-radius: $border-radius;
    padding: $half-space * 1.5 $basic-space * 5;
    cursor: pointer;

    &:active {
      transition: 0.25s ease;
      transform: scale(0.9);
    }
  }

  .LogoLanding {
    width: 80%;
    filter: drop-shadow(0 0 0.1rem rgba(0, 0, 0, 1));
  }
}
