@import "../../assets/variables";

.Recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: $basic-space * 5;
  padding: $basic-space;
  margin: $basic-space * 4 0;

  @media screen and (min-width: 480px) {
    width: 80%;
  }

  h1 {
    width: 100%;
  }

  // .recipe-button {
  //   background-color: $primary-color;
  //   border-radius: $border-radius;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   text-align: center;
  //   box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.5);
  //   width: 25rem;
  //   text-decoration: none;
  //   color: $font-color;

  //   &:hover {
  //     color: $secondary-color;
  //     transition: 0.25s ease;
  //     transform: scale(0.9);
  //   }

  //   h2 {
  //     padding-bottom: $half-space * 1.4;
  //   }
  // }
}
