@import "../../assets/variables";

.flex-row {
  @media screen and (min-width: 720px) {
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
    gap: $basic-space * 5;
    width: 100%;
    margin: $basic-space * 4 0;
    transition: opacity 0.55s ease;
  }

  .preview {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: $basic-space * 2;
    width: 95%;

    @media screen and (min-width: 720px) {
      width: auto;
    }

    button:not(.PopUpButton) {
      margin-top: $basic-space * 3;
    }
  }
}
