@import "../../assets/variables";

.edit {
  display: flex;
  flex-direction: column;
  gap: $basic-space * 2;
  max-width: 95%;

  @media screen and (min-width: 720px) {
    width: 60%;
    max-width: 100%;
  }

  form {
    background-color: rgba(255, 255, 255, 0.29);
    border-radius: $border-radius;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: $basic-space;

    label {
      display: flex;
      flex-direction: column;
      text-align: left;
      font-size: $basic-space;
    }
  }

  div {
    display: flex;
    flex-wrap: wrap;
    gap: $basic-space * 2;
    flex: 5 1;

    @media screen and (min-width: 1080px) {
      flex-wrap: nowrap;
    }

    form {
      min-height: 67vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      // align-items: flex-start;
      padding: $basic-space $half-space;

      // &:nth-of-type(1) {
      //   flex-grow: 1;
      // }

      // &:nth-of-type(2) {
      //   flex-grow: 1;
      // }

      label {
        width: 12rem;
        flex-direction: row;
        gap: $half-space;
      }

      button {
        padding: 0 $half-space;
      }
    }
  }
}
