@import "../../assets/variables";

.edit {
  display: flex;
  flex-direction: column;
  gap: $basic-space * 2;
  max-width: 95%;

  @media screen and (min-width: 720px) {
    width: 60%;
    max-width: 100%;
  }

  .ingredientForm {
    p {
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;
      gap: $half-space;
      flex-wrap: wrap;

      .hidden {
        visibility: hidden;
        opacity: 0;
      }

      label {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      label,
      span {
        font-size: calc($font-size / 2);

        input {
          height: initial;
        }

        &:nth-child(2) {
          width: 4rem;
        }

        &:nth-child(4) input {
          width: 12rem;
        }
      }

      button {
        align-self: flex-end;
        margin-bottom: $half-space;
      }
    }
  }

  form {
    background-color: $transparent-color;
    border-radius: $border-radius;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: $basic-space;

    label {
      display: flex;
      flex-direction: column;
      text-align: left;
      font-size: $basic-space;
    }
  }

  div {
    display: flex;
    flex-wrap: wrap;
    gap: $basic-space * 2;
    flex: 5 1;

    @media screen and (min-width: 1080px) {
      flex-wrap: nowrap;
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: $basic-space $half-space;

      label {
        width: 80%;
        flex-direction: row;
        align-items: center;
        gap: $half-space;
        font-size: calc($font-size / 2);

        textarea,
        input {
          width: 80%;
          height: calc($font-size * 1.5);
        }

        textarea,
        input,
        select {
          font-family: $font-main;
          font-size: calc($font-size / 2);
          padding: 0.5rem 0.2rem;

          resize: none;
          background: $font-color;
          border: 2px solid $background-color;
          border-radius: calc($border-radius / 2);
          outline: none;
        }
      }

      button {
        font-family: $font-main;
        font-size: calc($font-size / 2);
        padding: 0.5rem 0.2rem;

        resize: none;
        background: $font-color;
        border: 2px solid $background-color;
        border-radius: calc($border-radius / 2);
        outline: none;
        padding: calc($half-space / 4) $half-space calc($half-space / 2);
      }
    }
  }

  .ShareAndApprove {
    flex-direction: column;
    padding: $basic-space;

    .containerCheckbox {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: $basic-space;

      p {
        font-size: $text-size;
      }
    }
  }
}
