@import "../../assets/variables";

.Recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: $basic-space * 5;
  padding: $basic-space;
  margin-bottom: auto;

  @media screen and (min-width: 480px) {
    width: 80%;
  }

  h1,
  form,
  .recipeMargin {
    width: 100%;
  }

  a {
    color: $font-color;
    text-decoration: none;
  }
}
