@import "../../assets/variables";

.recipeForm {
  background-color: rgba(255, 255, 255, 0.29);
  border-radius: $border-radius;
  min-height: 5.875rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: $basic-space;
  padding: $half-space;

  label {
    display: flex;
    flex-direction: column;
    // justify-content: space-between; // if needed for the checkbox style
    text-align: left;
    height: 61.5938px;
    font-size: $basic-space;
    gap: calc($basic-space / 10);

    input[type="text"],
    input[type="search"],
    select {
      font-family: $font-main;
      font-size: calc($font-size / 2);
      padding: 0.5rem 0.2rem;
      height: 41px;

      resize: none;
      background: $font-color;
      border: 2px solid $background-color;
      border-radius: calc($border-radius / 2);
      outline: none;
    }

    input[type="search"],
    input[type="text"] {
      width: 280px;
    }

    p {
      cursor: pointer;
      pointer-events: initial;
      transition: all 0.4s ease-in-out;
      width: 50px;
      height: 50px;
      background: left / contain no-repeat url("@assets/icons/upload2.svg");

      &:hover {
        background: left / contain no-repeat url("@assets/icons/upload3.svg");
      }
    }

    input[type="checkbox"] {
      // height: 41px;
      // resize: none;
      margin: auto; // can be the reason why we can't chose the height of the checkbox
    }

    input[type="file"] {
      display: none;
    }

    input[type="range"] {
      margin: auto;
      -webkit-appearance: none;
      appearance: none;
      height: 10px;
      border-radius: 5px;
      background: $background-color;
      background-image: linear-gradient($secondary-color, $secondary-color);
      outline: none;
      background-repeat: no-repeat;
      background-size: 0% 100%;
    }

    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 17px;
      width: 17px;
      border-radius: 60px;
      border: none;
      background: $secondary-color;
      cursor: pointer;
    }

    input[type="range"]::-moz-range-thumb {
      -webkit-appearance: none;
      appearance: none;
      height: 17px;
      width: 17px;
      border-radius: 60px;
      border: none;
      background: $secondary-color;
      cursor: pointer;
    }

    input[type="search"].cookingTime,
    input[type="text"].cookingTime {
      width: 80px;
    }

    input[type="text"]:focus,
    input[type="search"]:focus,
    select:focus {
      border: 2px solid $secondary-color;
    }
  }

  .FileUploadLabel {
    pointer-events: none;
  }
}
