@import "../../assets/variables";

.recipeForm {
  background-color: rgba(255, 255, 255, 0.29);
  border-radius: $border-radius;
  min-height: 5.875rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: $basic-space;
  padding: $half-space;

  label {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 61.5938px;
    font-size: $basic-space;
    gap: calc($basic-space / 10);

    input[type="text"],
    input[type="search"],
    select {
      font-family: $font-main;
      font-size: calc($font-size / 2);
      padding: 0.5rem 0.2rem;
      height: 41px;

      resize: none;
      background: $font-color;
      border: 2px solid $background-color;
      border-radius: calc($border-radius / 2);
      outline: none;
    }

    input[type="search"],
    input[type="text"] {
      width: 280px;
    }

    p {
      cursor: pointer;
      pointer-events: initial;
      transition: all 0.4s ease-in-out;
      width: 50px;
      height: 50px;
      background: left / contain no-repeat url("@assets/icons/upload2.svg");

      &:hover {
        background: left / contain no-repeat url("@assets/icons/upload3.svg");
      }
    }

    input[type="file"] {
      display: none;
    }

    input[type="range"] {
      margin: auto;
      -webkit-appearance: none;
      appearance: none;
      height: 10px;
      border-radius: 5px;
      background: $background-color;
      background-image: linear-gradient($secondary-color, $secondary-color);
      outline: none;
      background-repeat: no-repeat;
      background-size: 0% 100%;
    }

    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 17px;
      width: 17px;
      border-radius: 60px;
      border: none;
      background: $secondary-color;
      cursor: pointer;
    }

    input[type="range"]::-moz-range-thumb {
      -webkit-appearance: none;
      appearance: none;
      height: 17px;
      width: 17px;
      border-radius: 60px;
      border: none;
      background: $secondary-color;
      cursor: pointer;
    }

    input[type="search"].cookingTime,
    input[type="text"].cookingTime {
      width: 80px;
    }

    input[type="text"]:focus,
    input[type="search"]:focus,
    select:focus {
      border: 2px solid $secondary-color;
    }
  }

  .FileUploadLabel {
    pointer-events: none;
  }

  // Checkbox parameters
  /*------ Settings ------*/
  .containerCheckbox {
    cursor: pointer;
    user-select: none;
    fill: $background-color;

    svg,
    img {
      font-size: 41px;
      width: 30px;
    }

    .clipboard {
      animation: keyframes-fill 0.5s;
    }

    .clipboard-check {
      display: none;
      animation: keyframes-fill 0.5s;
      fill: $secondary-color;
    }

    /* ------ On check event ------ */
    input:checked ~ .clipboard {
      display: none;
    }

    input:checked ~ .clipboard-check {
      display: block;
    }

    /* ------ Hide the default checkbox ------ */
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
  }

  /* ------ Animation ------ */
  @keyframes keyframes-fill {
    0% {
      transform: rotate(0deg) scale(0);
      opacity: 0;
    }

    50% {
      transform: rotate(-10deg) scale(1.2);
    }
  }

  button {
    font-size: calc($text-size / 1.25);
    font-family: $font-main;
    border: none;
    border-radius: $border-radius;
    background-color: $secondary-color;
    color: $background-color;
    padding: $half-space $basic-space;
    cursor: pointer;
    transition: opacity 0.75s ease;
    margin-top: calc(0.1rem + 19px);
    height: 41px;

    &:hover {
      color: $secondary-color;
      background-color: $background-color;
    }

    &:active {
      transition: 0.25s ease;
      transform: scale(0.9);
    }
  }
}
