@import "../../assets/variables";

#flex-row {
  @media screen and (min-width: 720px) {
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
    gap: $basic-space * 5;
    width: 100%;
    margin: $basic-space * 4 0;
  }

  .preview {
    display: flex;
    flex-direction: column;
    gap: $basic-space * 2;

    .recipe-button {
      background-color: $primary-color;
      border-radius: $border-radius;
      border: none;
      text-align: center;
      box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.5);
      width: 25rem;
      text-decoration: none;
      color: $font-color;
      padding-bottom: $half-space * 1.4;
      font-family: $font-main;
      font-size: 3rem;
      font-weight: 700;
      margin-top: $basic-space * 3;

      &:hover {
        color: $secondary-color;
        transition: 0.25s ease;
        transform: scale(0.9);
      }
    }
  }
}
