@import "../../assets/variables";

#flex-row {
  flex-direction: row;
  align-items: flex-start;
  text-align: center;
  gap: $basic-space * 5;
  width: 100%;
  margin: $basic-space * 4 0;

  .edit {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: $basic-space * 2;

    form {
      background-color: rgba(255, 255, 255, 0.29);
      border-radius: $border-radius;
      min-height: 10vh;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: $basic-space;

      &:last-of-type {
        min-height: 60vh;
      }

      label {
        display: flex;
        flex-direction: column;
        text-align: left;
        font-size: $basic-space;
      }
    }
  }

  .preview {
    display: flex;
    flex-direction: column;
    gap: $basic-space * 2;

    .card {
      background-color: $primary-color;
      border-radius: $border-radius;
      display: flex;
      flex-direction: column;
      gap: $basic-space;
      box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.5);
      width: 25rem;

      h2 {
        font-size: 1.6rem;
        font-weight: 500;
      }

      .card-img {
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: $border-radius $border-radius 0 0;
      }

      p {
        font-size: 1.6rem;
        border-top: 1px solid rgba(0, 0, 0, 0.5);
        width: 100%;
        display: flex;
        justify-content: space-around;

        span {
          width: 100%;
          padding: $basic-space 0;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: $basic-space;

          img {
            height: $basic-space * 2;
          }

          .greyed-spoon {
            filter: grayscale(100%);
          }

          &:first-of-type {
            gap: 0.1rem;
            border-right: 1px solid rgba(0, 0, 0, 0.5);
          }
        }
      }
    }

    .add-button {
      background-color: $primary-color;
      border-radius: $border-radius;
      border: none;
      text-align: center;
      box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.5);
      width: 25rem;
      text-decoration: none;
      color: $font-color;
      padding-bottom: $half-space * 1.4;
      font-family: $font-main;
      font-size: 3rem;
      font-weight: 700;
      margin-top: $basic-space * 3;

      &:hover {
        color: $secondary-color;
        transition: 0.25s ease;
        transform: scale(0.9);
      }
    }
  }
}
