@import "../../assets/variables";
@import "../../assets/extendables";
@import "../../assets/mixins";

.Contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.55s ease;
  gap: $basic-space * 5;

  h1 {
    text-align: center;
    grid-area: h;
  }

  form {
    @include formMixin(
      3rem 1.5rem,
      $basic-space * 2 4rem,
      $basic-space * 2 7rem,
      $basic-space * 2 9rem
    );

    max-width: 95%;

    input,
    textarea {
      @extend %input;
    }

    textarea {
      min-height: 8rem;
    }
  }
}
