@import "../../assets/variables";

footer {
  background-color: $primary-color;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: $font-title;
  font-size: $title-size;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  z-index: -1;
  margin-top: $basic-space * 4;

  grid-row: 3 / 4;

  p {
    gap: 0.5rem;
    filter: drop-shadow(0 0 0.1rem rgba(0, 0, 0, 1));

    @media screen and (min-width: 480px) {
      display: flex;
      flex-direction: row;
    }

    a {
      text-decoration: none;
      color: $font-color;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}
