@import "../../assets/variables";

footer {
  background-color: $primary-color;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: $font-title;
  font-size: $title-size;
  position: fixed;
  width: 100%;
  bottom: 0;

  a {
    text-decoration: none;
    color: $font-color;

    &:hover {
      color: $secondary-color;
    }
  }
}
