@import "../../assets/variables";

.recipe-button {
  background-color: $primary-color;
  border-radius: $border-radius;
  border: none;
  text-align: center;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.5);
  width: 100%;
  text-decoration: none;
  color: $font-color;
  padding: $half-space * 1.4 0;
  font-family: $font-main;
  font-size: $font-size;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $basic-space;

  @media screen and (min-width: 480px) {
    width: 25rem;
  }

  &:hover {
    color: $secondary-color;
    transition: 0.25s ease;
    transform: scale(0.9);
  }

  img {
    height: $font-size;
  }
}
