@import "../../assets/variables";
@import "../../assets/extendables";
@import "../../assets/mixins";

.Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $basic-space * 5;
  transition: opacity 0.55s ease;

  h1 {
    text-align: center;
    grid-area: h;
  }

  @media screen and (min-width: 1380px) {
    display: grid;
    align-items: start;
    justify-items: center;
    grid-template-areas:
      "h h"
      "av av"
      "f1 f2"
      "b1 b2"
      "b3 b3"
      "b4 b4";
  }

  .AvatarForm {
    grid-area: av;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: $basic-space * 5;

    @media screen and (min-width: 480px) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-basis: 100%;
    }

    label {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 300px;
      cursor: pointer;

      .Avatar {
        width: 250px;
        height: 250px;
        border-radius: 300px;
        object-fit: cover;
        object-position: center;
      }

      .UploadAvatar {
        border-radius: 300px;
        background-color: rgba(128, 128, 128, 0.5);
        opacity: 0;
        width: 250px;
        height: 250px;
        transition: all 0.5s ease;

        &:hover {
          opacity: 1;
        }
      }

      .UploadAvatar,
      input {
        position: absolute;
        z-index: 5;
      }

      input {
        display: none;
      }
    }
  }

  form:not(.AvatarForm) {
    @include formMixin(
      1.5rem,
      $basic-space * 2 4rem,
      $basic-space * 2 7rem,
      $basic-space * 2 9rem,
      173px
    );

    padding: $basic-space * 2 1.5rem;
    max-width: 95%;

    &:nth-of-type(2) {
      grid-area: f1;
    }

    &:nth-of-type(3) {
      grid-area: f2;
    }

    input {
      @extend %input;
    }

    p:hover {
      color: $secondary-color;
    }
  }

  p:not(.PopUpText) {
    font-size: calc($font-size / 1.35);
    text-align: center;
    grid-column: 1 / -1;

    span {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 0 1rem;
      width: 210px;

      img {
        height: 29px;
      }

      &:hover {
        color: $secondary-color;
      }
    }
  }

  button:not(.PopUpButton) {
    grid-area: b1;

    &:nth-of-type(2) {
      grid-area: b2;
    }

    &:nth-of-type(3) {
      grid-area: b3;
    }

    &:nth-of-type(4) {
      grid-area: b4;
    }
  }
}
