@import "../../assets/variables";

.Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $basic-space * 5;

  h1 {
    text-align: center;
    grid-area: h;
  }

  @media screen and (min-width: 1380px) {
    display: grid;
    align-items: start;
    justify-items: center;
    grid-template-areas:
      "h h"
      "av av"
      "f1 f2"
      "b1 b2"
      "b3 b3"
      "b4 b4";
  }

  .AvatarForm {
    grid-area: av;

    @media screen and (min-width: 480px) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-basis: 100%;
    }

    .Avatar {
      width: 250px;
      height: 250px;
      border-radius: 300px;
      object-fit: cover;
      object-position: center;
    }
  }

  form:not(.AvatarForm) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background-color: transparentize($font-color, 0.71);
    border-radius: $border-radius;
    padding: $basic-space * 2 1.5rem;
    transition: padding-left 0.3s ease, padding-right 0.3s ease;
    max-width: 95%;

    @media screen and (min-width: 1380px) {
      min-height: 173px;
    }

    &:nth-of-type(2) {
      grid-area: f1;
    }

    &:nth-of-type(3) {
      grid-area: f2;
    }

    @media screen and (min-width: 480px) {
      padding: $basic-space * 2 4rem;
    }

    @media screen and (min-width: 580px) {
      padding: $basic-space * 2 7rem;
    }

    @media screen and (min-width: 680px) {
      padding: $basic-space * 2 9rem;
    }

    input {
      font-family: $font-main;
      font-size: calc($font-size / 1.5);
      width: 18rem;
      padding: 0.5rem 0.2rem;
      transition: width 0.3s ease;

      resize: none;
      background: $font-color;
      border: 2px solid $background-color;
      border-radius: calc($border-radius / 2);
      padding: calc($basic-space / 2);
      outline: none;

      @media screen and (min-width: 480px) {
        width: 20rem;
      }
    }

    input:focus,
    textarea:focus {
      border: 2px solid $secondary-color;
    }

    input:focus:invalid {
      border: 2px solid rgb(192, 66, 66);
    }

    p:hover {
      // transform this to a link later
      color: $secondary-color;
    }
  }

  p {
    font-size: calc($font-size / 1.35);
    text-align: center;
    grid-column: 1 / -1;

    span {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 0 1rem;
      width: 210px;

      img {
        height: 29px;
      }

      &:hover {
        color: $secondary-color;
      }
    }
  }

  button {
    grid-area: b1;

    &:nth-of-type(2) {
      grid-area: b2;
    }

    &:nth-of-type(3) {
      grid-area: b3;
    }

    &:nth-of-type(4) {
      grid-area: b4;
    }
  }
}
