@import "./assets/variables";

* {
  margin: 0;
}

body {
  margin: 0;
  font-family: $font-main;
  color: $font-color;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

// button {
//   font-size: calc(10px + 2vmin);
// }

// // Clickable button effect
// button:active {
//   transform: translateY(2px);
// }

// button:hover {
//   cursor: pointer;
// }
