@import "./assets/variables";

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: $font-main;
  font-size: $font-size;
  color: $font-color;
  background-color: $background-color;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-row: 2 / 3;
  margin-top: 103px;

  @media screen and (min-width: 1160px) {
    margin-top: 0;
  }
}
