@import "../../assets/variables";

header {
  z-index: 6;
  position: fixed;
  top: -8px;
  left: 0;
  background-color: $primary-color;
  box-sizing: border-box;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-family: $font-title;
  font-size: $title-size;
  width: 100%;
  grid-row: 1 / 2;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding-left: $basic-space;
  transition: 1s ease;
  margin-bottom: $basic-space * 4 0;

  @media screen and (min-width: 490px) {
    padding-left: $basic-space * 2;
  }

  @media screen and (min-width: 1160px) {
    position: static;
  }

  #logoMenu {
    filter: drop-shadow(0 0 0.1rem rgba(0, 0, 0, 1));
    transition: 1s ease;
    height: 80%;

    @media screen and (min-width: 490px) {
      height: 100%;
    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: $font-color;

    &:hover {
      color: $background-color;
    }

    img {
      height: 70%;
    }
  }

  div {
    z-index: 6;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 6.5rem;
    background-color: $secondary-color;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
    transition: 0.75s height 0.25s;

    @media screen and (min-width: 1160px) {
      display: none;
    }

    .burger {
      z-index: 6;
      position: fixed;
      box-sizing: border-box;
      right: 1.6rem;
      padding: 1rem;
      width: 24px;
      height: 24px;
      background: transparent;
      cursor: pointer;

      input {
        display: none;
      }

      span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: $primary-color;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        filter: drop-shadow(0 0 0.1rem rgba(0, 0, 0, 1));
        transform: rotate(0deg);
        transition: 0.25s ease;
      }

      span:nth-of-type(1) {
        top: 0px;
        transform-origin: left center;
      }

      span:nth-of-type(2) {
        top: 50%;
        transform: translateY(-50%);
        transform-origin: left center;
      }

      span:nth-of-type(3) {
        top: 100%;
        transform-origin: left center;
        transform: translateY(-100%);
      }

      input:checked ~ span:nth-of-type(1) {
        transform: rotate(45deg);
        width: 125%;
        top: 0px;
        left: 2px;
      }

      input:checked ~ span:nth-of-type(2) {
        transform: translateX(-10px);
        width: 0%;
        opacity: 0;
      }

      input:checked ~ span:nth-of-type(3) {
        transform: rotate(-45deg);
        width: 125%;
        top: 28px;
        left: 2px;
        box-shadow: 0 0 10px #495057;
      }
    }
  }

  nav {
    z-index: 6;
    position: fixed;
    top: 99px;
    right: 0;
    background-color: $secondary-color;
    width: 100%;
    height: calc(100vh - 91px);
    box-sizing: border-box;
    transition: transform 1s ease, opacity 1s ease;

    @media screen and (min-width: 1160px) {
      padding: 0 $basic-space * 3 0 $basic-space * 5;
      position: static;
      width: 70%;
      height: 100%;
      clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 0% 100%);
      -webkit-clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    ul {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      list-style: none;
      font-size: $title-size;

      @media screen and (min-width: 1160px) {
        flex-direction: row;
        justify-content: space-between;
      }

      a {
        filter: drop-shadow(0 0 0.1rem rgba(0, 0, 0, 1));
        padding: 2rem;
        border-bottom: 1px solid;
        width: 40%;

        &:last-of-type {
          border: none;
        }

        @media screen and (min-width: 1160px) {
          border: none;
        }
      }
    }
  }
  .showNav {
    transform: translateX(0px);
    opacity: 1;
  }

  .hideNav {
    transform: translateX(100%);
    opacity: 0;

    @media screen and (min-width: 1160px) {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}
