@import "../../assets/variables";

.LogIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 3rem auto;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background-color: transparentize($font-color, 0.71);
    border-radius: $border-radius;
    padding: 3rem 9rem;

    input {
      font-family: $font-main;
      font-size: calc($font-size / 1.5);
      width: 20rem;
      padding: 0.5rem 0.2rem;

      resize: none;
      background: $font-color;
      border: 2px solid $background-color;
      border-radius: calc($border-radius / 2);
      padding: calc($basic-space / 2);
      outline: none;
    }

    input:focus,
    textarea:focus {
      border: 2px solid $secondary-color;
    }

    input:focus:invalid {
      border: 2px solid rgb(192, 66, 66);
    }

    :nth-child(2) {
      margin-top: 1.5rem;
    }

    p:hover {
      // transform this to a link later
      color: $secondary-color;
    }
  }

  p {
    font-size: calc($font-size / 1.35);

    a {
      text-decoration: none;
      color: $secondary-color;

      &:hover {
        color: $font-color;
      }
    }
  }
}
