@import "../../assets/variables";
@import "../../assets/extendables";
@import "../../assets/mixins";

.LogIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 3rem auto;
  transition: opacity 0.55s ease;
  max-width: 95vw;

  form {
    @include formMixin(1.5rem, 3rem 4rem, 3rem 7rem, 3rem 9rem);

    input {
      @extend %input;
    }

    :nth-child(2) {
      margin-top: 1.5rem;
    }

    p:hover {
      // transform this to a link later
      color: $secondary-color;
    }
  }

  button {
    margin-top: $basic-space;
  }

  p {
    font-size: calc($font-size / 1.35);

    a {
      text-decoration: none;
      color: $secondary-color;

      &:hover {
        color: $font-color;
      }
    }
  }
}
