@import "../../assets/variables";

.Authentification {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  // h1 {
  // font-weight: 500;
  // }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background-color: transparentize($font-color, 0.71);
    border-radius: $border-radius;
    padding: 3rem 9rem;

    input {
      font-size: calc($font-size / 1.5);
      width: 20rem;
      padding: 0.5rem 0.2rem;
    }

    :nth-child(2) {
      margin-top: 1.5rem;
    }

    p:hover {
      // transform this to a link later
      color: $secondary-color;
    }
  }
  p {
    font-size: calc($font-size / 1.35);

    span {
      color: $secondary-color;
    }
  }
}
