@import "../../assets/variables";

.Register {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 3rem auto;

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    gap: 3rem 1.5rem;
    background-color: transparentize($font-color, 0.71);
    border-radius: $border-radius;
    padding: 3rem 9rem;

    input {
      font-family: $font-main;
      font-size: calc($font-size / 1.5);
      width: 20rem;
      padding: 0.5rem 0.2rem;

      resize: none;
      background: $font-color;
      border: 2px solid $background-color;
      border-radius: calc($border-radius / 2);
      padding: calc($basic-space / 2);
      outline: none;
    }

    input:focus,
    textarea:focus {
      border: 2px solid $secondary-color;
    }

    input:focus:invalid {
      border: 2px solid rgb(192, 66, 66);
    }

    p {
      font-size: calc($font-size / 1.35);
      // width: max-content;
      text-align: center;
      grid-column: 1 / -1;

      span {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 0 1rem;
        width: 210px;

        img {
          height: 29px;
        }

        &:hover {
          // transform this to a link later
          color: $secondary-color;
        }
      }
    }
  }
}
