@import "../../assets/variables";

.Register {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 3rem auto;
  transition: opacity 0.55s ease;
  max-width: 95vw;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem 1.5rem;
    background-color: transparentize($font-color, 0.71);
    border-radius: $border-radius;
    padding: 3rem 1.5rem;
    transition: padding 0.3s ease;

    @media screen and (min-width: 480px) {
      padding: 3rem 2.5rem;
    }

    @media screen and (min-width: 880px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      padding: 3rem 4rem;
    }

    @media screen and (min-width: 1080px) {
      padding: 3rem 9rem;
    }

    input {
      font-family: $font-main;
      font-size: calc($font-size / 1.5);
      width: 18rem;
      padding: 0.5rem 0.2rem;

      resize: none;
      background: $font-color;
      border: 2px solid $background-color;
      border-radius: calc($border-radius / 2);
      padding: calc($basic-space / 2);
      outline: none;

      @media screen and (min-width: 480px) {
        width: 20rem;
      }
    }

    input:focus,
    textarea:focus {
      border: 2px solid $secondary-color;
    }

    input:focus:invalid {
      border: 2px solid rgb(192, 66, 66);
    }

    p {
      font-size: calc($font-size / 1.35);
      text-align: center;
      grid-column: 1 / -1;

      span {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 0 1rem;
        width: 210px;

        img {
          height: 29px;
        }

        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}
