@import "../../assets/variables";

.card {
  background-color: $primary-color;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  gap: $basic-space;
  box-shadow: $box-shadow;
  width: 100%;

  @media screen and (min-width: 480px) {
    width: 25rem;
  }

  h2 {
    text-align: center;
    font-size: $text-size;
    font-weight: 500;
    min-height: 30px;
  }

  .card-img {
    border-bottom: $border-transparent;
    border-radius: $border-radius $border-radius 0 0;
    object-fit: cover;
    object-position: center;
    max-height: 246px;

    @media screen and (min-width: 720px) {
      height: 266px;
      max-height: none;
    }
  }

  p {
    font-size: $text-size;
    border-top: $border-transparent;
    width: 100%;
    display: flex;
    justify-content: space-around;

    span {
      width: 100%;
      padding: $basic-space 0;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: $basic-space;

      img {
        height: $basic-space * 2;
      }

      .greyed-spoon {
        filter: grayscale(100%);
      }

      &:first-of-type {
        gap: 0.1rem;
        border-right: $border-transparent;
      }
    }
  }
}
